@import "styles/sass/main";

.AdminHeader {
  @include flex;
  position: relative;
  width: 100%;
  height: 68px;
  background: $white;
  box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12);

  &__search-wrap {
    position: relative;
    width: calc(100% - 287px);
    height: 100%;

    @media (max-width: $sm), (max-device-width: $sm) {
      position: absolute;
      bottom: -68px;
      left: 0;
      width: 100%;
      height: 68px;
      background: $white;
      border: 1px solid $gray-low-light;
      box-shadow: 0.5px 0px 0px #cacedb, -0.5px 0px 0px #cacedb;
      z-index: 1;
    }
  }

  &__search {
    @include inp-reset;
    width: 100%;
    height: 100%;
    padding: 26px 26px 26.5px 51px;
    font: 400 13px/15px $helvetica-regular;
    color: $blue-dark;
    letter-spacing: -0.09px;
    box-sizing: border-box;

    &::placeholder {
      color: $blue-gray;
    }
  }

  &__search-icon {
    position: absolute;
    top: 27px;
    left: 28px;
  }

  &__notification {
    @include flex(center, center);
    width: 70px;
    height: 100%;
    box-shadow: 0.5px 0px 0px $gray-low-light, -0.5px 0px 0px $gray-low-light;
    transition: background 0.25s;
    cursor: pointer;

    &:hover {
      background: rgba(#000000, 0.05);
    }

    @media (max-width: $sm), (max-device-width: $sm) {
      margin-left: 10px;
    }
  }

  &__notification-icon {
    position: relative;
    width: 17px;
    height: 21px;
  }

  &__notification-count {
    @include flex(center, center);
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 14px;
    height: 14px;
    font: 600 9px/14px $popins-semibold;
    background: $red;
    color: $white;
    border-radius: 50%;
  }

  &__user-panel {
    @include btn-reset;
    position: relative;
    width: 217px;
    height: 100%;

    &:hover {
      background: rgba(#000000, 0.05);
    }

    @media (max-width: $sm), (max-device-width: $sm) {
      margin-left: auto;
    }

    &__front {
      @include btn-reset;
      @include flex(_, center);
      width: 100%;
      height: 100%;
      padding-left: 26px;
      transition: background 0.25s;
      transition: transform 0.8s;
      backface-visibility: hidden;
      cursor: pointer;

      &_flip {
        transform: rotateX(180deg);
      }
    }

    &__back {
      @include btn-reset;
      position: absolute;
      top: 0;
      left: 0;
      @include flex(center, center);
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: transform 0.8s;

      &_flip {
        transform: rotateX(-180deg);
      }
    }
  }

  &__avatar {
    width: 42px;
    height: 42px;
    margin-right: 13px;
    border-radius: 50%;
  }

  &__name {
    margin-right: 52px;
    font: 400 15px/17px $helvetica-regular;
    color: $gray-dark;
    letter-spacing: -0.47px;
  }

  &__btn-flip {
    @include btn-reset;
    width: 100%;
    height: 100%;
  }

  &__btn-logout {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 50px);
    width: 100px;
    height: 30px;
  }
}
