@import 'styles/sass/main';

.Banner {
  @include flex(space-between, center);
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  height: 42px;
  padding: 0 27px;
  background: $green;
  opacity: 0;
  transition: opacity 0.3s;

  &_active {
    opacity: 1;
  }

  &__text {
    @include flex(_, center);
    font: 400 13px/15px $helvetica-regular;
    color: $white;
    letter-spacing: -0.33px;
  }

  &__check-icon {
    margin-right: 9px;
  }

  &__btn-close {
    @include btn-reset;
  }
}
